html {
  background-color: #eeeeee;
  scroll-behavior: smooth;
}
.Top {
  box-sizing: border-box;
  margin:0;
  height: 100vh;
  background-image: url(http://www.newdesignfile.com/postpic/2013/08/cool-plain-black-wallpaper_221300.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
  padding-top:32vh;
  font-size: 1.8vw;
  font-style: italic;
  text-align: center;
  z-index: 2;
  font-family: 'Lora' serif;
}
.Top p:nth-child(1){
  font-size: 4vw;
  font-style: normal;
}
.Top p:last-child{
  margin-top: -3%;
  font-size: 1.8vw;
}
.Top p:last-child:hover {
  color:cyan;
  transition: 0.6s;
}
.Top a {
  text-decoration: none;
  color:white;
}
.Top .fa-angle-double-down {
  margin-top:10%;
  border:1px dotted white;
  padding: 10px;
  border-radius: 50%;
}
.Intro {
  margin-top: 15%;
  padding-bottom: 8%;
  display: flex;
  width:100%;
  box-sizing: content-box;
  justify-content: center;
}
.Intro h1, .Intro p {
  font-size: 1.5vw;
  font-family: 'PT Serif' serif;
}
.Intro p {
  text-align: left;
  border-right: 1px dotted rgb(121,121,121);
}
.Intro .Job p{
  border: 0;
}
.Intro img {
  width:11vw;
  height:11vw;
  padding-top: 10px;
  border-radius: 50%;
}
.Intro div {
  width: 26vw;
  text-align: center;
  padding-right:3%;
}
.Hobbies {
  margin-top: 15%;
  text-align: center;
  background-color: rgb(192,192,192);
  padding-bottom: 40px;
  padding-top: 20px;
}
#hobbies{
  margin-top: -3.6%;
}
.Hobbies img {
  height:18vw;
  width:18vw;
  float: left;
  padding: 2%;
  border-radius: 50%;
}
.Hobbies1 {
  display:flex;
  padding-left: 10%;
  padding-top: 4%;
}
.Hobbies1 div {
  width:30%;
}
.Hobbies2 {
display: flex;
padding-top: 5vh;
padding-left: 22%;
}
.Hobbies2 div {
  width: 46%;
}
#Walking {
  padding-right: 25%;
}
@keyframes Hobbies{
  0%{transform:scale(1);}
  50%{transform:scale(1.05);}
  100%{transform:scale(1);}
}
.Hobbies img {
  animation-name:Hobbies;
  animation-duration: 2.1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  transition-timing-function:ease-in-out;
}
.Hobbies img:hover {
  filter:blur(1px);
  animation-play-state: paused;
}
.Hobbies span {
  visibility: visible;
  margin-right:30%;
  background-color:black;
  color:white;
  padding:7px;
  width:10vw;
  border-radius: 10px;
}
.Hobbies h1:first-child {
  font-family: 'Indie Flower';
  font-size: 3vw;
}
.hobbies {
  text-align: center;
}
.hobbies .fa-angle-double-down {
  font-size: 1.77vw;
  color:black;
}
.Hobbies .fa-angle-double-down {
  margin-top:5%;
  color:black;
  font-size: 1.77vw;
}
.Projects {
  margin-top: 8%;
  text-align: center;
  padding-bottom: -40%;
}
.Projects h1{
  padding-bottom: 2%;
  font-family: 'Acme';
  letter-spacing: 2px;
}
.Projects p{
  padding-bottom: 4%;
  font-size: 2vw;
  border-bottom: 1px solid rgb(169,169,169);
}
.Projects img {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}
.Projects img:hover {
  opacity: 0.67;
  transition:0.3s;
}
.Projects div {
  display: flex;
  justify-content: space-between;
}
.Projects div div {
  width:30%;
  flex-wrap: wrap;
}
.Contacts {
  margin-top: 30%;
}
button {
  margin-top: 30%;
  margin-left: -50%;
  padding:2% 10% 12% 10%;
  border-radius: 4px;
  box-sizing: content-box;
  color:white;
  background-color: blue;
  height:2%;
  width:15%;
  text-align: center;
  font-size: 1.4vw;
  font-family: 'fantasy';
  border: 0;
}
#angle {
  font-size: 1.77vw;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}
.fa-angle-double-down {
  border:1px dotted black;
  padding: 10px;
  border-radius: 50%;
}
.Contacts {
  text-align: center;
  font-size: 1.8vw;
  color:white;
  background-color: #555555;
  background-position: center;
  padding-top: 15px;
  padding-bottom: 100px;
}
.Contacts i {
  padding:10px;
  font-size: 2vw;
  color:white;
}
.fa-google:hover{
  color:#DD4B39;
  transition:0.5s;
}
.fa-snapchat-ghost:hover {
  background-color:#FFFC00;
  color:white;
  transition:0.5s;
  border-radius:50%;
}
.fa-twitter:hover{
  color:#00acee;
  transition:0.5s;
}
.fa-instagram:hover{
  color:#3f729b;
  transition:0.5s;
}
.Description {
  width:100%;
  display: flex;
  text-align: left;
  font-size: 1.5vw;
  justify-content: center;
}
.Description ul {
  width: 30%;
}
